<div id="header">
    <div class="row" style="width: 100%;">
        <div class="col-md-4">
            <img  style="float:left; margin-left: 49px;" 
            src="../static/images/HN_DOST_logo.png" alt="" 
            width="90px", height="70.25px">
        </div>
        <div class="col-md-4">
            <h1 class="text-center" 
                style="color: #fef9fb; float:center; 
                       margin-top: 18px;">UET Neural Machine Translation</h1>
        </div>              
        <!-- <div class="col-md-4">
            <img style="float:right ; margin-right: 49px;" 
            src="../static/images/ULIS_logo.png" alt="" 
            width="90px", height="70.25px">
        </div> -->
    </div>
</div>