<!DOCTYPE html>
<html lang="en">

<head>
  <title>UET-NMT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <link rel="stylesheet" type="text/css" href="./static/css/loader.css">  
  <link rel="stylesheet" type="text/css" href="./static/css/login.css">
  <link rel="stylesheet" type="text/css" href="./static/css/navigation.css"> 
  <link rel="stylesheet" type="text/css" href="./static/css/header.css">
  <script type="text/javascript" src="./static/js/libs/jquery-3.3.1.min.js"></script>     
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
</head>

<body>        
    <br>      
    <div class="container-signin"> 
        <div class="card">
            <h1 class="title">Link Reset Password</h1>      
            <form class="signin" id="signin_form">                
                <div class="button-container">
                    <a href="{{ abs_password_reset_url }}" 
                        role="button" class="btn btn-primary btn-lg"
                        style="width: 210px; font-size: 17px;">Reset Password</a>            
                </div>             
            </form>  
        </div>    
    </div>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./static/js/reset_password_form.js"></script>
  <script src="./static/js/utils.js"></script>
  <script>
  </script>
</body>

</html>