<!DOCTYPE html>
<html lang="en">

<head>
  <title>UET-NMT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/loader.css">  
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <link rel="stylesheet" type="text/css" href="../static/css/navigation.css"> 
  <link rel="stylesheet" type="text/css" href="../static/css/header.css">
  <script type="text/javascript" src="../static/js/libs/jquery-3.3.1.min.js"></script>     
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
</head>

<body>        
    <br>
    <div class="container">     
      <div id="loader">
        <div class="loading-icon"></div>
      </div>

      <!-- notice -->
      <div id="myAlert" style="display:none;">
        <span id="closeAlertBtn">&times;</span>                       
        <p id="notice_content"></p>
      </div>
  
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">                
            <p id="myModalMessage"></p>
        </div>
      </div>    
    </div>   
         
    <div class="container-signin">    
    <div class="card">
      <h1 class="title">Reset Password</h1>      
      <form class="signin" id="reset_password_form">        
        <!-- value for test only -->
        <div class="input-container">
          <input type="password" 
            id="password" name="password" 
            placeholder="Mật khẩu" 
            value=""
            onfocus="this.placeholder=''" required/>
          <div class="bar"></div>
        </div>
        <div><p stype="color: rgb(239, 60, 39);" id="error"></p></div>
        <div class="button-container">
          <button id="btn_reset_password" 
            style="font-size : 20px; width: 250px; height: 50px;">
            <span>Reset Password</span>
          </button>
        </div>             
      </form>      
    </div>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/js/reset_password_form.js"></script>
  <script src="../static/js/utils.js"></script>
  <script>
  </script>
</body>

</html>