<!DOCTYPE html>
<html lang="en">

<head>
  <title>UET-NMT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <link rel="stylesheet" type="text/css" href="./static/css/loader.css">  
  <link rel="stylesheet" type="text/css" href="./static/css/login.css">
  <link rel="stylesheet" type="text/css" href="./static/css/navigation.css"> 
  <link rel="stylesheet" type="text/css" href="./static/css/header.css">
  <script src="./static/js/libs/jquery-3.3.1.min.js"></script>   
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>  
</head>

<body>    
    {% include 'header.html' %}
    {% include 'navigation.html' %}      
    <br>
    <!-- container for padding, margin -->
    <div class="container">     
      <div id="loader">
        <div class="loading-icon"></div>
      </div>

      <!-- notice -->
      <div id="myAlert" style="display:none;"> 
        <span id="closeAlertBtn">&times;</span>               
        <span id="notice_content"></span>
      </div>
  
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">                
            <p id="myModalMessage"></p>
        </div>
      </div>    
    </div>   
         
    <div class="container-signin">    
    <div class="card">
      <form class="get_password_form"> 
        <h1 class="title">Get Your Password</h1>      
        <div class="input-container">
          <!-- value for test only -->
          <input type="text" 
            id="password" name="password" 
            placeholder="password" 
            value=""
            onfocus="this.placeholder=''" required/>          
          <div class="bar"></div>
        </div>       
        <div><p stype="color: rgb(239, 60, 39);" id="error"></p></div>
        <div class="button-container">
          <button id="btn_forgot_password" 
            style="font-size : 20px; width: 250px; height: 50px;">
            <span>Get password</span>
          </button>
        </div>            
      </form> 
    </div>    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./static/js/forgot_password.js"></script>
  <script src="./static/js/utils.js"></script>
  <script>
  </script>
</body>

</html>