/* table */
.general_table_container { overflow-y: auto; height: 400px; }
.general_table_container thead th { position: sticky; top: 0; }
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.touchScreen table body  {
  -webkit-overflow-scrolling: touch;  
}
.blank_row
{
    height: 10px; /* overwrites any other rules */
    background-color: #FFFFFF;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
  color: rgb(34, 34, 34);
}
th {
  height: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(253, 255, 152);
  color: rgb(100, 100, 100);  
}
td {
  height: 55px;
}
tr:nth-child(even) {
  background-color: #e9e9e9;
}
tr:nth-child(2n+1) {
  background-color: #fcfcfc;
}
tr:hover {background-color: rgb(207, 207, 207);}
/* end table */